body
{
margin: 0px;
width: 100%;
height: 100%;
background-color:rgb(119, 119, 240);
}

.formulaire{
    width: 450px ;
    height: 250px ;
    background-color: burlywood;
    padding: 60px 50px 40px;
    margin: 10% auto;
    font-size: xx-large;
    border-radius:3em ;
}

.formulaire1{
    width: 450px ;
    height: 400px ;
    background-color: burlywood;
    padding: 60px 50px 40px;
    margin: 5% auto;
    font-size: xx-large;
    border-radius:3em ;
}

.formulaire2{
    width: 450px ;
    height: 600px ;
    background-color: burlywood;
    padding: 60px 50px 40px;
    margin: 5% auto;
    font-size: xx-large;
    border-radius:3em ;
}


.boutonenvoyer{
    margin : 10px 32%;
}
.boutonenvoyer1{
    margin : 10px auto;
}

.flexrow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align{
    padding: 0px 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.align2{
    
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: rgb(243, 235, 202);
}

.align1{
    padding: 0px 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
input{
    font-size: x-large;
    text-align: center;
}
