body{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(170, 170, 251, 0.37);
}

header{
    width:100%;
    height:100px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255); 
}


footer{
    width:100%;
    height:100px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255); 
}




/* BODY PAGE CONNEXION */
.body1{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://bit.ly/2NPI6jw');
    background-size: cover;
}
/* PAGE CONNEXION */
.formulaire{
    width: 450px ;
    height: 250px ;
    background-color: rgba(222, 184, 135, 0.829);
    padding: 60px 50px 40px;
    margin: 0% auto;
    font-size: xx-large;
    border-radius:3em ;
    border : 4px black solid;
}
/* CONNEXION */
.boutonenvoyer{
    margin : 0px 25%;
}
/* BOUTON ENVOYER PAGE CONNEXION */
.align1{
    padding: 0px 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
/* TITRE PAGE CONNEXION*/
.titre2{
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    margin-top : 130px;
    color: white;
}






/* BODY PAGE INSCRIPTION */
.body2{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://bit.ly/32QQwf5');
    background-size: cover;
}
/* PAGE INSCRIPTION */
.formulaire1{
    width: 450px ;
    height: 450px ;
    background-color: rgba(222, 184, 135, 0.808);
    padding: 60px 50px 40px;
    margin: 0% auto;
    font-size: xx-large;
    border-radius:3em ;
    border : 4px black solid;   
}
/* INNSCRIPTION */
.boutonenvoyer1{
    margin : 10px auto;
}
/* TITRE PAGE INSCRIPTION*/
.titre1{
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    margin-top : 50px;
    color: white;
}

.text1{
    color: rgb(251, 26, 26);
    text-align: center;
    
    background-color: rgba(0, 0, 0, 0.657);
}



/* BOUTON ENVOYER PAGE INSCRIPTION ET PAGE PROFIL */
.align{
    padding: 0px 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}



/* BODY PAGE PROFIL */
.body3{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/4a/4f/41/4a4f4189e94567d34465424f2b39f4d4.jpg');
    background-size: cover;
}
/* PAGE PROFIL */
.formulaire2{
    width: 450px ;
    height: 570px ;
    background-color: rgba(222, 184, 135, 0.89);
    padding: 40px 50px 40px;
    margin: 0% auto;
    font-size: xx-large;
    border-radius:3em ;
    border : 4px black solid;
}
/* LABEL TEXTE PROFIL */
.align2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: rgb(243, 235, 202);
}
/* TITRE PAGE PROFIL*/
.titre{
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    margin-top : 50px;
    color: white;
}



.color{
    color:red;
    font-size: 70%;
    text-align: center;
    font-weight: bold;
}

.bor{
    border-radius:0.5em ;
    border : 1px black solid;
}


.bor1{
    border-radius:0.5em ;
    border : 1px black solid;
    padding : 0px 20px;
}

.bor2{
    border-radius:4em ;
    border : 2px black solid;
}

.flexrow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TEXTE INPUT */
input{
    font-size: xx-large;
    text-align: center;
}

.input1{
    font-size: 180%;
    text-align: center;
    margin-left: 500px;
    margin-top: 20px;
    background-color: rgba(236, 189, 101, 0.877);
    padding: 10px 13px 10px;
}






/* BODY PAGE ADMIN */
.body4{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color:rgb(221, 218, 191);
    }
/* TABLEAUX PAGE ADMIN */
table{
    margin-left: 300px;
    border-radius: 2em;
    padding: 0px 50px;
    background-color:  rgb(120, 165, 167);
    border : 2px black solid;
    font-size: 130%;
    margin : 5% auto;
}

tr,td,th{
    border : 2px black solid;
    font-size: 130%;
    margin : 5% auto;
    background-color: rgba(232, 226, 251, 0.329);
}

tr,td{
    padding :3px 15px;
}

.tr{
    border : 2px black solid;
    font-size: 130%;
    margin : 5% auto;
    background-color: rgba(255, 127, 80, 0.795);
}

th{
    font-size: xx-large;
    
}

/* TITRE PAGE ADMINISTRATEURS*/
.titre3{
    font-size: 350%;
    font-weight: bold;
    text-align: center;
    margin-top : 50px;
    background-color: rgb(120, 165, 167);
    color:rgba(255, 0, 0, 0.746);
}






/* PAGE INDEX */
.align3{
    text-align: center;
    margin-top: 110px;
    font-size: 300%;
}

/* BODY PAGE INDEX */
.body4{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color:rgb(221, 218, 191);
}

.p1{
    text-align: center;
    font-size: 160%;
    font-family: cursive;
    margin: 200px 0px 100px;
    padding: 0px 30%;
}

.titrarticle{
    width:80%;
    height:200px;
    margin: 50px auto;
    background-color: rgb(247, 247, 90);
    border-radius: 2em 2em 0em 0em;
    text-align: center;
    font-size: x-large;
    
}

.divarticle{
    width:80%;
    height:550px;
    margin: 20px auto 200px;
    background-color: rgb(252, 147, 48);
    border-radius: 0em 0em 2em 2em;
    border:3px black solid;
}

.divimg1{
    width:  800px;
    height: 500px;
    margin: 50px auto 200px;
    background-size: cover;
}

.img1{
    width:  800px;
    height: 500px;
    border: 3px black solid;
    border-radius: 2em;
}

.ctr{
    text-align: center;
    padding: 0px 10% ;
}

.divflexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.divflexcol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div3{
    width: 480px;
    height: 500px;
    background-color: black;
    margin: auto auto;
    border-radius: 0em 0em 2em 2em;
}

.div3img{
    width: 450px;
    height: 320px;
    margin: auto auto;
    background-color: rgb(38, 255, 0);
}

.div3texte{
    width: 450px;
    height: 130px;
    margin: auto auto;
    background-color: cornsilk;
    border-radius: 0em 0em 2em 2em;
}

.ali{
    border-radius: 2em 2em 0em 0em;
    background-color: cornsilk;
}

.ali0{
    text-align: center;
    padding-top: 35px;
    font-size: x-large;
}

.pad{
    margin : 0px 2%;
}

.img2{
    width: 450px;
    height: 320px;
}

.textdiv{
    text-align: center;
    margin: 0px auto;
    margin-top: 40px;
    font-size: xx-large;
}