body{
margin: 0px;
width: 100%;
height: 100%;
background-color:rgb(119, 119, 240);
}

/* BODY PAGE CONNEXION */
.body1{
margin: 0px;
width: 100%;
height: 100%;
background-image: url('https://bit.ly/2NPI6jw');
background-size: cover;
}
/* PAGE CONNEXION */
.formulaire{
    width: 450px ;
    height: 250px ;
    background-color: rgba(222, 184, 135, 0.829);
    padding: 60px 50px 40px;
    margin: 10% auto;
    font-size: xx-large;
    border-radius:3em ;
    border : 4px black solid;
}
/* CONNEXION */
.boutonenvoyer{
    margin : 0px 25%;
}
/* BOUTON ENVOYER PAGE CONNEXION */
.align1{
    padding: 0px 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}





/* BODY PAGE INSCRIPTION */
.body2{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://bit.ly/32QQwf5');
    background-size: cover;
}
/* PAGE INSCRIPTION */
.formulaire1{
    width: 450px ;
    height: 450px ;
    background-color: rgba(222, 184, 135, 0.808);
    padding: 60px 50px 40px;
    margin: 5% auto;
    font-size: xx-large;
    border-radius:3em ;
    border : 4px black solid;   
}
/* INNSCRIPTION */
.boutonenvoyer1{
    margin : 10px auto;
}



/* BOUTON ENVOYER PAGE INSCRIPTION ET PAGE PROFIL */
.align{
    padding: 0px 5%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}



/* BODY PAGE PROFIL */
.body3{
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://bit.ly/33Vo4da');
    background-size: cover;
}
/* PAGE PROFIL */
.formulaire2{
    width: 450px ;
    height: 600px ;
    background-color: rgba(222, 184, 135, 0.89);
    padding: 60px 50px 40px;
    margin: 5% auto;
    font-size: xx-large;
    border-radius:3em ;
    border : 4px black solid;
}
/* LABEL TEXTE PROFIL */
.align2{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: rgb(243, 235, 202);
}




.bor{
    border-radius:0.5em ;
    border : 1px black solid;
}

.bor1{
    border-radius:0.5em ;
    border : 1px black solid;
    padding : 0px 20px;
}

.flexrow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TEXTE INPUT */
input{
    font-size: xx-large;
    text-align: center;
}

.input1{
    font-size: x-large;
    text-align: center;
    margin-left: 20px;
}


/* TABLEAUX PAGE ADMIN */

table{
    margin-left: 300px;
}

table,tr,td,th{
    border : 2px black solid;
    font-size: 135%;
    margin : 5% auto;
    background-color: rgba(206, 136, 23, 0.342);
}

tr,td{
    padding :3px 15px;
}

.tr{
    background-color: rgba(255, 127, 80, 0.959);
}

th{
    font-size: xx-large;
    
}